name: Publish Docker Image

on:
  push:
    branches:
      - main
      - 'v*'
    paths:
      - 'containers/**'
      - '.github/workflows/ghcr.yml'
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason for manual trigger'
        required: true
        default: ''

jobs:
  ghcr_build_and_push:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.inputs.reason != ''
    strategy:
      matrix:
        image: ["app", "evaluation", "sandbox"]

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Log-in to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/open-devin/opendevin
            ghcr.io/open-devin/eval-swe-bench
            ghcr.io/open-devin/sandbox
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push ${{ matrix.image }}
        run: ./containers/build.sh ${{ matrix.image }} --push
        env:
          GITHUB_REF_NAME: ${{ github.ref_name }}